html {
    margin: 0px;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    min-height: 100%;
    height: auto;
    width: 100%;
    position: relative;
}


.main {
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
}

.app {
    width: 100%;
    height: auto;
    display: flex;
    
}


canvas {
    background: #000000;
}